<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      
      <div class="container">
        
      <% if (bot.user.avatarURL) { %><div class="col-2"><img style="float:left;padding-right:10px;" class="img-responsive rounded-circle bounce"src='<%= bot.user.avatarURL %>?size=128'></div>
      <div class="col-8"><% } %>
      <h1>Shpee Dashboard</h1><% if (bot.user.avatarURL) { %></div><% } %>
        <p align="center">
          <br><br>This is an <a href="https://github.com/DankZone/ShpeeBot">open-source bot</a> made by LeoDoesThings (<code>Leo (LeoDoesThings)#9534</code> on Discord) originally to be used on the <a href="https://discord.gg/gwamp7n">DankZone Discord server</a>.
          <br>Now, the bot is available publicly for free on <a href="https://github.com/DankZone/ShpeeBot/">GitHub</a> for you to contribute to and inevitably copy and take credit for.
        </p>
      <p align="center">
        <a class="btn btn-primary" href="/login" role="button"><i class="fab fa-discord" aria-hidden="true"></i> <i class="fab fa-" aria-hidden="true"></i> Add to Discord</a> <a class="btn btn-primary" href="/docs" role="button"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Bot Documentation »</a>
      </p>
        <p align="center" style="margin:0;">
          <a href="https://app.codacy.com/project/LeoDoesThings/ShpeeBot/dashboard"><img src="https://img.shields.io/codacy/grade/4d742458af0b4079b123ae14a6f95d70?style=for-the-badge" alt="Code Quality"></a>
          <a href="https://github.com/DankZone/ShpeeBot/blob/glitch/LICENSE"><img src="https://img.shields.io/github/license/DankZone/ShpeeBot?style=for-the-badge" alt="License"></a>
          <a href="https://github.com/DankZone/ShpeeBot/releases"><img src="https://img.shields.io/github/release/DankZone/ShpeeBot?style=for-the-badge" alt="Version"></a>
          <a href="https://discord.gg/gwamp7n"><img src="https://img.shields.io/discord/344369585950294016?logo=Discord&style=for-the-badge" alt="Discord server"></a>
        </p>
        </div>
    </div>
  </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><i class="fa fa-fw fa-question-circle" aria-hidden="true"></i> Discord Intergration</h2>
          <p>Coming soon</p>
          <p><a class="btn btn-secondary disabled" href="" role="button">Coming Soon! »</a></p>
        </div>
        <div class="col-md-4">
          <h2><i class="fab fa-github" aria-hidden="true"></i> Open Source</h2>
          <p>This bot (complete with the dashboard) is completely opensource.</p>
          <p><a class="btn btn-secondary" href="https://github.com/DankZone/ShpeeBot" role="button"> GitHub repository »</a></p>
        </div>
        <div class="col-md-4">
          <h2><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Dashboard!</h2>
          <p>Yeah, the bot now has a dashboard!</p>
          <p><a class="btn btn-secondary" href="/login" role="button">Login »</a></p>
        </div>
      </div>
    </div>

<% include ./blocks/footer %>
